*{
    margin:0;
    font-size:18px;
  }
  .center{
    margin:0 auto;
    text-align:center;
  }
  header{
    font-size:40px;
    margin:10px;
  }
  #content{
    display:grid;
    grid-template-columns:2fr 8fr;
    margin-top:20px;
  }
  a{
    color:black;
    text-decoration:none;
  }
  #navbar>ul>a>li{
    font-size:20px;
    line-height:40px;
    list-style-type:none;
    border-top:2px solid black;
  }
  #content{
    margin-left:0;
  }
  #navbar{
    position:fixed;
    min-width:19%;
    border-right:4px solid grey;
    height:100vh;
    padding-left:0;
    margin-left:0;
  }
  code{
    display:block;
      text-align: left;
    white-space: pre;
    position: relative;
      word-break: normal;
      word-wrap: normal;
      line-height: 2;
      background-color:#e7e7e7;
    padding:15px;
    margin:10px;
      border-radius:5px;
  }
  @media (max-width:800px){
    *{
    margin:0;
  }
  .center{
    margin:0 auto;
    text-align:center;
  }
  
  header{
    font-size:30px;
    margin: 10px;
  }
  #content{
    display:grid;
    grid-template-columns:3fr 7fr;
    margin-top:20px;
  }
  a{
    color:black;
    text-decoration:none;
  }
  #navbar>ul>li{
    font-size:20px;
    list-style-type:none;
    border-top:2px solid black;
  }
  #content{
    margin-left:0;
  }
  #navbar{
    position:fixed;
    min-width:28%;
    border-right:4px solid grey;
    height:100vh;
    padding-left:0;
    margin-left:0;
  }
  code{
    display:block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color:#e7e7e7;
    padding:15px;
    margin:10px;
    border-radius:5px;
  }
  }
  
  
  